In [1]:
import numpy as np
import pandas as pd
import glob

## Table 2 in submission [done]

In [13]:
# For individual task
root_paths = ['/data/UKBB/SSL/reports/permutation/*csv', '/data/UKBB/SSL/reports/aot/*csv', 
              '/data/UKBB/SSL/reports/scale/*csv', '/data/UKBB/SSL/reports/time_w/*csv']
              
master_file_list = []
for root_path in root_paths:
    current_list = glob.glob(root_path)
    master_file_list.extend(current_list)

In [14]:
# get the ones with error bar
master_df = []
for file_path in master_file_list:
    file_name = file_path.split('/')[-1]
    dataset = file_name.split('_')[0]
    
    subject_num = file_name.split('_')[-1]
    subject_num = int(subject_num.split('.')[0])
    model = '_'.join((file_name.split('_')[1:-1]))
    task = file_path.split('/')[-2]

    # epoch_count = file_name.split('_')[-1][:2]
    
    current_df = pd.read_csv(file_path)
    
    current_df['id'] = current_df.index 
    current_df = pd.melt(current_df, id_vars=['id'])
    current_df.drop(['id'], inplace=True, axis=1)

    current_df['dataset'] = dataset
    current_df['model'] = model
    # print(file_path, model, subject_num)
    
    current_df['subject_num'] = subject_num  
    current_df['task'] = task
    
    if len(master_df) == 0:
        master_df = current_df
    else:
        master_df = pd.concat([master_df, current_df])
master_df = master_df.rename(columns={"variable": "metric"}) 
#master_df['epoch'] = master_df['epoch'].astype(int)

In [15]:
master_df = master_df[['task', 'model', 'metric', 'value', 'dataset']]

In [16]:
master_df['task']

0     permutation
1     permutation
2     permutation
3     permutation
4     permutation
         ...
15         time_w
16         time_w
17         time_w
18         time_w
19         time_w
Name: task, Length: 4784, dtype: object

In [17]:
master_df.head()

          task                            model     metric     value   dataset
0  permutation  flip_net_ft_100_postR60_1500_-1  precision  0.861416  rowlands
1  permutation  flip_net_ft_100_postR60_1500_-1  precision  0.811094  rowlands
2  permutation  flip_net_ft_100_postR60_1500_-1  precision  0.924670  rowlands
3  permutation  flip_net_ft_100_postR60_1500_-1  precision  0.831987  rowlands
4  permutation  flip_net_ft_100_postR60_1500_-1  precision  0.884477  rowlands

In [18]:
filter_master_df = master_df[(master_df['metric'] == 'f1') | (master_df['metric'] == 'kappa')]

In [19]:
key=['dataset', 'metric', 'task']
ok = filter_master_df.groupby( key).describe()

In [22]:
ok = ok.reset_index(['dataset', 'metric' , 'task' ])

In [24]:
ok.head()

  dataset metric         task value                                          \
                              count      mean       std       min       25%
0     adl     f1          aot   7.0  0.754390  0.157191  0.467779  0.679454
1     adl     f1  permutation   7.0  0.809835  0.096647  0.660000  0.756569
2     adl     f1        scale   7.0  0.410983  0.185836  0.105201  0.304262
3     adl     f1       time_w   7.0  0.764831  0.116905  0.573044  0.702677
4     adl  kappa          aot   7.0  0.730352  0.209764  0.388446  0.591625


        50%       75%       max
0  0.820000  0.864641  0.904762
1  0.792589  0.880996  0.941127
2  0.429962  0.556292  0.620612
3  0.800578  0.825523  0.923791
4  0.814683  0.878970  0.968145

In [ ]:
# read out single task table

In [35]:
np.unique(ok.task)

array(['aot', 'permutation', 'scale', 'time_w'], dtype=object)

In [25]:
np.unique(ok.dataset)

array(['adl', 'capture24', 'oppo', 'pamap', 'realworld', 'rowlands',
       'wisdm'], dtype=object)

In [37]:
def get_row_str(my_df, task_name):
    task_df = my_df[my_df.task == task_name]
    data_set_order = ['capture24', 'rowlands', 'wisdm', 'realworld', 'oppo', 'pamap', 'adl']
    
    res_str = ""
    for data_set in data_set_order:
        mean= task_df[task_df['dataset'] == data_set].iloc[0].value['mean']
        std =task_df[task_df['dataset'] == data_set].iloc[0].value['std']
        if len(res_str) == 0:
            res_str = r'%.3f $ \pm $ %.3f' % (mean, std)
        else:
            res_str = res_str + r' & %.3f $ \pm $ %.3f' % (mean, std)
            
    print(res_str.replace('0.', '.'))

In [38]:
get_row_str(ok, 'aot')

.671 $ \pm $ .094 & .565 $ \pm $ .120 & .767 $ \pm $ .124 & .750 $ \pm $ .084 & .582 $ \pm $ .054 & .715 $ \pm $ .036 & .754 $ \pm $ .157

In [39]:
get_row_str(ok, 'scale')

.708 $ \pm $ .094 & .692 $ \pm $ .095 & .634 $ \pm $ .123 & .740 $ \pm $ .089 & .293 $ \pm $ .146 & .607 $ \pm $ .083 & .411 $ \pm $ .186

In [40]:
get_row_str(ok, 'permutation')

.721 $ \pm $ .093 & .783 $ \pm $ .099 & .778 $ \pm $ .109 & .766 $ \pm $ .063 & .588 $ \pm $ .076 & .750 $ \pm $ .057 & .810 $ \pm $ .097

In [41]:
get_row_str(ok, 'time_w')

.715 $ \pm $ .093 & .776 $ \pm $ .110 & .767 $ \pm $ .120 & .772 $ \pm $ .073 & .584 $ \pm $ .064 & .737 $ \pm $ .079 & .765 $ \pm $ .117

## Table 3 submission [done]

In [2]:
root_path = '/data/UKBB/SSL/reports/subject_wise/*'
exp_list = glob.glob(root_path)


master_file_list = []
for my_path in exp_list:
    current_list = glob.glob(my_path+'/*csv')
    master_file_list.extend(current_list)

In [65]:
# For individual task
# root_paths = ['/data/UKBB/SSL/reports/aTrue_pTrue_sFalse_tFalse/*csv', '/data/UKBB/SSL/reports/aFalse_pTrue_sTrue_tFalse/*csv', 
#               '/data/UKBB/SSL/reports/aFalse_pTrue_sTrue_tTrue/*csv', '/data/UKBB/SSL/reports/aFalse_pTrue_sFalse_tTrue/*csv',
#              '/data/UKBB/SSL/reports/aTrue_pTrue_sTrue_tFalse/*csv', '/data/UKBB/SSL/reports/aTrue_pTrue_sTrue_tTrue/*csv',
#              '/data/UKBB/SSL/reports/aFalse_pFalse_sTrue_tTrue/*csv', '/data/UKBB/SSL/reports/aTrue_pFalse_sTrue_tFalse/*csv',
#              '/data/UKBB/SSL/reports/aTrue_pFalse_sFalse_tTrue/*csv',  '/data/UKBB/SSL/reports/aTrue_pTrue_sFalse_tTrue/*csv']
              
# master_file_list = []
# for root_path in root_paths:
#     current_list = glob.glob(root_path)
#     master_file_list.extend(current_list)

In [66]:
mtl_dict = {
    'aTrue_pTrue_sFalse_tFalse': 'P+AoT',
    'aTrue_pFalse_sTrue_tFalse': 'AoT+S',
    'aTrue_pFalse_sFalse_tTrue': 'AoT+TW',
    'aFalse_pTrue_sTrue_tFalse': 'P+S',
    'aFalse_pTrue_sTrue_tTrue': 'P+S+Tw',
    'aFalse_pTrue_sFalse_tTrue': 'P+Tw',
    'aTrue_pTrue_sTrue_tTrue': 'P+AoT+S+TW',
    'aTrue_pTrue_sTrue_tFalse': 'P+AoT+S',
    'aFalse_pFalse_sTrue_tTrue': 'S+TW',
    'aTrue_pTrue_sFalse_tTrue': 'AoT+P+TW',
    'aTrue_pFalse_sTrue_tTrue': 'AoT+S+TW',
    'aot': 'AoT',
    'permutation': 'p',
    'time_w': 'TW',
    'scale': 'scale'
}

In [67]:
# get the ones with error bar
master_df = []
for file_path in master_file_list:
    file_name = file_path.split('/')[-1]
    dataset = file_name.split('_')[0]
    
    subject_num = file_name.split('_')[-1]
    subject_num = int(subject_num.split('.')[0])
    task = file_path.split('/')[-2]
    mtl_task = mtl_dict[file_path.split('/')[-2]]
    
    # epoch_count = file_name.split('_')[-1][:2]
    
    current_df = pd.read_csv(file_path)
    
    current_df['id'] = current_df.index 
    current_df = pd.melt(current_df, id_vars=['id'])
    current_df.drop(['id'], inplace=True, axis=1)

    current_df['dataset'] = dataset
    # print(file_path, model, subject_num)
    
    current_df['subject_num'] = subject_num  
    current_df['task'] = task
    current_df['mtl_task'] = mtl_task


    if len(master_df) == 0:
        master_df = current_df
    else:
        master_df = pd.concat([master_df, current_df])
master_df = master_df.rename(columns={"variable": "metric"})

In [68]:
master_df = master_df[['task', 'mtl_task', 'metric', 'value', 'dataset']]
filter_master_df = master_df[(master_df['metric'] == 'f1') | (master_df['metric'] == 'kappa')]

In [69]:
key=['dataset', 'metric', 'task']
ok = filter_master_df.groupby( key).describe()

In [70]:
ok

                                            value                      \
                                            count      mean       std
dataset   metric task
capture24 f1     aFalse_pFalse_sTrue_tTrue  155.0  0.707652  0.094510
                 aFalse_pTrue_sFalse_tTrue  155.0  0.714490  0.094406
                 aFalse_pTrue_sTrue_tFalse  155.0  0.696643  0.096855
                 aFalse_pTrue_sTrue_tTrue   155.0  0.710223  0.093890
                 aTrue_pFalse_sFalse_tTrue  155.0  0.718973  0.093533
...                                           ...       ...       ...
rowlands  kappa  permutation                 55.0  0.874980  0.072122
                 scale                       55.0  0.801078  0.080509
                 time_w                      55.0  0.861312  0.089002
wisdm     f1     aTrue_pTrue_sFalse_tTrue    50.0  0.576952  0.090907
          kappa  aTrue_pTrue_sFalse_tTrue    50.0  0.608217  0.099776

                                                                          \
                                                 min       25%       50%
dataset   metric task
capture24 f1     aFalse_pFalse_sTrue_tTrue  0.378442  0.633251  0.724155
                 aFalse_pTrue_sFalse_tTrue  0.399576  0.644024  0.734623
                 aFalse_pTrue_sTrue_tFalse  0.387989  0.617306  0.714469
                 aFalse_pTrue_sTrue_tTrue   0.387488  0.646414  0.722340
                 aTrue_pFalse_sFalse_tTrue  0.409476  0.648563  0.734550
...                                              ...       ...       ...
rowlands  kappa  permutation                0.691126  0.830284  0.883346
                 scale                      0.641608  0.751697  0.817109
                 time_w                     0.624836  0.794210  0.874574
wisdm     f1     aTrue_pTrue_sFalse_tTrue   0.175242  0.564901  0.588655
          kappa  aTrue_pTrue_sFalse_tTrue   0.159933  0.597986  0.630623


                                                 75%       max
dataset   metric task
capture24 f1     aFalse_pFalse_sTrue_tTrue  0.778304  0.893114
                 aFalse_pTrue_sFalse_tTrue  0.783370  0.900776
                 aFalse_pTrue_sTrue_tFalse  0.773808  0.877638
                 aFalse_pTrue_sTrue_tTrue   0.781666  0.887968
                 aTrue_pFalse_sFalse_tTrue  0.790456  0.896979
...                                              ...       ...
rowlands  kappa  permutation                0.928717  0.990690
                 scale                      0.857155  0.941710
                 time_w                     0.931544  0.988371
wisdm     f1     aTrue_pTrue_sFalse_tTrue   0.624274  0.672541
          kappa  aTrue_pTrue_sFalse_tTrue   0.651246  0.711858

[62 rows x 8 columns]

In [71]:
ok = ok.reset_index(['dataset', 'metric' , 'task' ])

In [72]:
ok[ok['dataset'] == 'oppo']

Empty DataFrame
Columns: [(dataset, ), (metric, ), (task, ), (value, count), (value, mean), (value, std), (value, min), (value, 25%), (value, 50%), (value, 75%), (value, max)]
Index: []

In [73]:
def get_row_str(my_df, task_name):
    task_df = my_df[my_df.task == task_name]

    mean= task_df[task_df['dataset'] == 'capture24'].iloc[0].value['mean']
    std =task_df[task_df['dataset'] == 'capture24'].iloc[0].value['std']
    mean_row = task_df[task_df['dataset'] == 'rowlands'].iloc[0].value['mean']
    std_row =task_df[task_df['dataset'] == 'rowlands'].iloc[0].value['std']

    tmp_str = r'%.3f $ \pm $ %.3f & %.3f $ \pm $  %.3f' % (mean, std, mean_row, std_row)
    print(tmp_str)

In [74]:
task_name  = 'aTrue_pFalse_sTrue_tFalse'
get_row_str(ok, task_name)

0.702 $ \pm $ 0.094 & 0.686 $ \pm $  0.094

In [75]:
task_name  = 'aTrue_pTrue_sFalse_tFalse'
get_row_str(ok, task_name)

0.718 $ \pm $ 0.092 & 0.781 $ \pm $  0.101

In [76]:
task_name  = 'aTrue_pFalse_sFalse_tTrue'
get_row_str(ok, task_name)

0.719 $ \pm $ 0.094 & 0.762 $ \pm $  0.102

In [77]:
task_name  = 'aFalse_pFalse_sTrue_tTrue'
get_row_str(ok, task_name)

0.708 $ \pm $ 0.095 & 0.731 $ \pm $  0.106

In [78]:
task_name  = 'aFalse_pTrue_sFalse_tTrue'
get_row_str(ok, task_name)

0.714 $ \pm $ 0.094 & 0.755 $ \pm $  0.103

In [79]:
task_name  = 'aFalse_pTrue_sFalse_tTrue'
get_row_str(ok, task_name)

0.714 $ \pm $ 0.094 & 0.755 $ \pm $  0.103

In [80]:
task_name  = 'aTrue_pFalse_sFalse_tTrue'
get_row_str(ok, task_name)

0.719 $ \pm $ 0.094 & 0.762 $ \pm $  0.102

In [81]:
task_name  = 'aFalse_pTrue_sTrue_tTrue'
get_row_str(ok, task_name)

0.710 $ \pm $ 0.094 & 0.757 $ \pm $  0.099

In [82]:
task_name  = 'aTrue_pTrue_sFalse_tTrue'
get_row_str(ok, task_name)

0.718 $ \pm $ 0.095 & 0.770 $ \pm $  0.102

In [83]:
task_name  = 'aTrue_pFalse_sTrue_tTrue'
get_row_str(ok, task_name)

0.702 $ \pm $ 0.095 & 0.779 $ \pm $  0.099

In [84]:
task_name  = 'aTrue_pTrue_sTrue_tFalse'
get_row_str(ok, task_name)

0.705 $ \pm $ 0.095 & 0.679 $ \pm $  0.106

In [85]:
task_name  = 'aTrue_pTrue_sTrue_tTrue'
get_row_str(ok, task_name)

0.709 $ \pm $ 0.091 & 0.775 $ \pm $  0.103

In [86]:
task_name  = 'aot'
get_row_str(ok, task_name)

0.671 $ \pm $ 0.094 & 0.537 $ \pm $  0.077

In [87]:
task_name  = 'permutation'
get_row_str(ok, task_name)

0.721 $ \pm $ 0.093 & 0.775 $ \pm $  0.098

In [88]:
task_name  = 'scale'
get_row_str(ok, task_name)

0.708 $ \pm $ 0.094 & 0.683 $ \pm $  0.092

In [89]:
task_name  = 'time_w'
get_row_str(ok, task_name)

0.715 $ \pm $ 0.093 & 0.767 $ \pm $  0.111

In [90]:
task_name  = 'aTrue_pTrue_sTrue_tTrue'
get_row_str(ok, task_name)

0.709 $ \pm $ 0.091 & 0.775 $ \pm $  0.103

In [19]:
with pd.option_context('display.float_format', '{:0.3f}'.format):
    print(ok)

                                             value                            \
                                             count  mean   std    min    25%
dataset   metric task
adl       f1     aFalse_pTrue_sFalse_tTrue   7.000 0.841 0.072  0.740  0.800
                 aFalse_pTrue_sTrue_tFalse   7.000 0.544 0.123  0.316  0.514
                 aFalse_pTrue_sTrue_tTrue    7.000 0.801 0.089  0.674  0.749
          kappa  aFalse_pTrue_sFalse_tTrue   7.000 0.851 0.078  0.739  0.803
                 aFalse_pTrue_sTrue_tFalse   7.000 0.517 0.131  0.283  0.453
                 aFalse_pTrue_sTrue_tTrue    7.000 0.845 0.094  0.640  0.851
capture24 f1     aFalse_pFalse_sTrue_tTrue 155.000 0.505 0.091  0.287  0.436
                 aFalse_pTrue_sFalse_tTrue 155.000 0.518 0.093  0.303  0.445
                 aFalse_pTrue_sTrue_tFalse 155.000 0.480 0.086  0.286  0.413
                 aFalse_pTrue_sTrue_tTrue    5.000 0.621 0.007  0.612  0.617
                 aTrue_pFalse_sFalse_tTrue 160.000 0.520 0.095  0.309  0.453
                 aTrue_pFalse_sTrue_tFalse 160.000 0.485 0.089  0.267  0.417
                 aTrue_pTrue_sFalse_tFalse 160.000 0.531 0.096  0.295  0.461
                 aTrue_pTrue_sTrue_tFalse    5.000 0.638 0.019  0.605  0.637
                 aTrue_pTrue_sTrue_tTrue     5.000 0.618 0.017  0.598  0.608
          kappa  aFalse_pFalse_sTrue_tTrue 155.000 0.643 0.089  0.340  0.607
                 aFalse_pTrue_sFalse_tTrue 155.000 0.664 0.093  0.358  0.616
                 aFalse_pTrue_sTrue_tFalse 155.000 0.603 0.089  0.319  0.560
                 aFalse_pTrue_sTrue_tTrue    5.000 0.548 0.016  0.519  0.551
                 aTrue_pFalse_sFalse_tTrue 160.000 0.658 0.095  0.361  0.601
                 aTrue_pFalse_sTrue_tFalse 160.000 0.604 0.091  0.311  0.550
                 aTrue_pTrue_sFalse_tFalse 160.000 0.671 0.091  0.344  0.622
                 aTrue_pTrue_sTrue_tFalse    5.000 0.551 0.021  0.519  0.543
                 aTrue_pTrue_sTrue_tTrue     5.000 0.548 0.011  0.537  0.539
oppo      f1     aFalse_pFalse_sTrue_tTrue   4.000 0.564 0.055  0.515  0.519
                 aFalse_pTrue_sFalse_tTrue   4.000 0.586 0.071  0.516  0.534
                 aFalse_pTrue_sTrue_tFalse   4.000 0.317 0.019  0.296  0.303
                 aFalse_pTrue_sTrue_tTrue    4.000 0.614 0.033  0.588  0.591
                 aTrue_pFalse_sFalse_tTrue   4.000 0.602 0.014  0.589  0.592
                 aTrue_pFalse_sTrue_tFalse   4.000 0.398 0.081  0.284  0.374
                 aTrue_pTrue_sFalse_tFalse   4.000 0.594 0.039  0.549  0.577
                 aTrue_pTrue_sTrue_tFalse    4.000 0.243 0.159  0.100  0.163
                 aTrue_pTrue_sTrue_tTrue     4.000 0.524 0.096  0.403  0.471
          kappa  aFalse_pFalse_sTrue_tTrue   4.000 0.447 0.105  0.335  0.372
                 aFalse_pTrue_sFalse_tTrue   4.000 0.467 0.099  0.358  0.407
                 aFalse_pTrue_sTrue_tFalse   4.000 0.115 0.023  0.098  0.103
                 aFalse_pTrue_sTrue_tTrue    4.000 0.489 0.063  0.421  0.461
                 aTrue_pFalse_sFalse_tTrue   4.000 0.481 0.037  0.456  0.459
                 aTrue_pFalse_sTrue_tFalse   4.000 0.207 0.096  0.096  0.155
                 aTrue_pTrue_sFalse_tFalse   4.000 0.454 0.062  0.376  0.425
                 aTrue_pTrue_sTrue_tFalse    4.000 0.073 0.141 -0.035 -0.030
                 aTrue_pTrue_sTrue_tTrue     4.000 0.375 0.133  0.227  0.281
pamap     f1     aFalse_pTrue_sFalse_tTrue   8.000 0.749 0.075  0.647  0.713
                 aFalse_pTrue_sTrue_tFalse   8.000 0.588 0.046  0.547  0.566
                 aFalse_pTrue_sTrue_tTrue    8.000 0.741 0.067  0.636  0.694
          kappa  aFalse_pTrue_sFalse_tTrue   8.000 0.736 0.077  0.651  0.691
                 aFalse_pTrue_sTrue_tFalse   8.000 0.561 0.061  0.467  0.516
                 aFalse_pTrue_sTrue_tTrue    8.000 0.715 0.067  0.620  0.677
realworld f1     aFalse_pTrue_sFalse_tTrue   5.000 0.792 0.026  0.751  0.787
                 aFalse_pTrue_sTrue_tFalse   5.000 0.719 0.048  0.686  0.689
                 aFalse_pTrue_sTrue_tTrue    5.000 0.774 0.032  0.737  0.756
          kappa  aFalse_pTrue_sFalse_tTrue   5.000 0.729 0.036  0.677  0.721
                 aFalse_pTrue_sTrue_tFalse   5.000 0.648 0.063  0.594  0.597
                 aFalse_pTrue_sTrue_tTrue    5.000 0.715 0.032  0.677  0.697
rowlands  f1     aFalse_pFalse_sTrue_tTrue   5.000 0.841 0.053  0.779  0.790
                 aFalse_pTrue_sFalse_tTrue   5.000 0.871 0.024  0.834  0.867
                 aFalse_pTrue_sTrue_tFalse   5.000 0.813 0.033  0.781  0.789
                 aFalse_pTrue_sTrue_tTrue    5.000 0.874 0.020  0.848  0.869
                 aTrue_pFalse_sFalse_tTrue   5.000 0.888 0.018  0.868  0.870
                 aTrue_pFalse_sTrue_tFalse   5.000 0.806 0.050  0.719  0.816
                 aTrue_pTrue_sFalse_tFalse   5.000 0.873 0.031  0.837  0.843
                 aTrue_pTrue_sTrue_tFalse    5.000 0.793 0.031  0.753  0.776
                 aTrue_pTrue_sTrue_tTrue     5.000 0.880 0.028  0.836  0.875
          kappa  aFalse_pFalse_sTrue_tTrue   5.000 0.841 0.050  0.786  0.788
                 aFalse_pTrue_sFalse_tTrue   5.000 0.873 0.022  0.840  0.861
                 aFalse_pTrue_sTrue_tFalse   5.000 0.814 0.026  0.783  0.799
                 aFalse_pTrue_sTrue_tTrue    5.000 0.871 0.016  0.850  0.866
                 aTrue_pFalse_sFalse_tTrue   5.000 0.882 0.018  0.860  0.866
                 aTrue_pFalse_sTrue_tFalse   5.000 0.802 0.046  0.734  0.778
                 aTrue_pTrue_sFalse_tFalse   5.000 0.869 0.027  0.838  0.857
                 aTrue_pTrue_sTrue_tFalse    5.000 0.774 0.043  0.705  0.772
                 aTrue_pTrue_sTrue_tTrue     5.000 0.873 0.021  0.842  0.866
wisdm     f1     aFalse_pTrue_sFalse_tTrue   5.000 0.800 0.041  0.760  0.765
                 aFalse_pTrue_sTrue_tFalse   5.000 0.669 0.036  0.636  0.645
                 aFalse_pTrue_sTrue_tTrue    5.000 0.766 0.041  0.722  0.733
          kappa  aFalse_pTrue_sFalse_tTrue   5.000 0.789 0.045  0.745  0.748
                 aFalse_pTrue_sTrue_tFalse   5.000 0.653 0.038  0.615  0.623
                 aFalse_pTrue_sTrue_tTrue    5.000 0.752 0.044  0.705  0.715


                                             50%   75%   max
dataset   metric task
adl       f1     aFalse_pTrue_sFalse_tTrue 0.837 0.881 0.950
                 aFalse_pTrue_sTrue_tFalse 0.539 0.611 0.705
                 aFalse_pTrue_sTrue_tTrue  0.766 0.889 0.893
          kappa  aFalse_pTrue_sFalse_tTrue 0.840 0.918 0.937
                 aFalse_pTrue_sTrue_tFalse 0.563 0.595 0.674
                 aFalse_pTrue_sTrue_tTrue  0.869 0.891 0.921
capture24 f1     aFalse_pFalse_sTrue_tTrue 0.511 0.568 0.719
                 aFalse_pTrue_sFalse_tTrue 0.521 0.588 0.707
                 aFalse_pTrue_sTrue_tFalse 0.484 0.548 0.682
                 aFalse_pTrue_sTrue_tTrue  0.619 0.624 0.631
                 aTrue_pFalse_sFalse_tTrue 0.522 0.594 0.704
                 aTrue_pFalse_sTrue_tFalse 0.482 0.550 0.708
                 aTrue_pTrue_sFalse_tFalse 0.533 0.605 0.757
                 aTrue_pTrue_sTrue_tFalse  0.646 0.647 0.654
                 aTrue_pTrue_sTrue_tTrue   0.612 0.633 0.637
          kappa  aFalse_pFalse_sTrue_tTrue 0.654 0.696 0.844
                 aFalse_pTrue_sFalse_tTrue 0.678 0.723 0.861
                 aFalse_pTrue_sTrue_tFalse 0.617 0.663 0.794
                 aFalse_pTrue_sTrue_tTrue  0.554 0.556 0.560
                 aTrue_pFalse_sFalse_tTrue 0.670 0.724 0.863
                 aTrue_pFalse_sTrue_tFalse 0.612 0.666 0.803
                 aTrue_pTrue_sFalse_tFalse 0.686 0.734 0.873
                 aTrue_pTrue_sTrue_tFalse  0.555 0.567 0.570
                 aTrue_pTrue_sTrue_tTrue   0.547 0.560 0.560
oppo      f1     aFalse_pFalse_sTrue_tTrue 0.557 0.602 0.628
                 aFalse_pTrue_sFalse_tTrue 0.580 0.633 0.669
                 aFalse_pTrue_sTrue_tFalse 0.318 0.332 0.335
                 aFalse_pTrue_sTrue_tTrue  0.604 0.626 0.659
                 aTrue_pFalse_sFalse_tTrue 0.599 0.608 0.621
                 aTrue_pFalse_sTrue_tFalse 0.419 0.444 0.471
                 aTrue_pTrue_sFalse_tFalse 0.591 0.608 0.644
                 aTrue_pTrue_sTrue_tFalse  0.202 0.282 0.470
                 aTrue_pTrue_sTrue_tTrue   0.542 0.595 0.611
          kappa  aFalse_pFalse_sTrue_tTrue 0.448 0.524 0.558
                 aFalse_pTrue_sFalse_tTrue 0.460 0.520 0.589
                 aFalse_pTrue_sTrue_tFalse 0.107 0.119 0.148
                 aFalse_pTrue_sTrue_tTrue  0.481 0.509 0.573
                 aTrue_pFalse_sFalse_tTrue 0.465 0.488 0.536
                 aTrue_pFalse_sTrue_tFalse 0.204 0.256 0.324
                 aTrue_pTrue_sFalse_tFalse 0.457 0.486 0.526
                 aTrue_pTrue_sTrue_tFalse  0.030 0.133 0.266
                 aTrue_pTrue_sTrue_tTrue   0.392 0.487 0.489
pamap     f1     aFalse_pTrue_sFalse_tTrue 0.740 0.776 0.884
                 aFalse_pTrue_sTrue_tFalse 0.572 0.594 0.694
                 aFalse_pTrue_sTrue_tTrue  0.753 0.800 0.815
          kappa  aFalse_pTrue_sFalse_tTrue 0.728 0.760 0.885
                 aFalse_pTrue_sTrue_tFalse 0.565 0.598 0.659
                 aFalse_pTrue_sTrue_tTrue  0.721 0.768 0.797
realworld f1     aFalse_pTrue_sFalse_tTrue 0.793 0.815 0.815
                 aFalse_pTrue_sTrue_tFalse 0.704 0.715 0.801
                 aFalse_pTrue_sTrue_tTrue  0.767 0.788 0.821
          kappa  aFalse_pTrue_sFalse_tTrue 0.722 0.754 0.773
                 aFalse_pTrue_sTrue_tFalse 0.642 0.659 0.750
                 aFalse_pTrue_sTrue_tTrue  0.719 0.719 0.762
rowlands  f1     aFalse_pFalse_sTrue_tTrue 0.862 0.870 0.902
                 aFalse_pTrue_sFalse_tTrue 0.870 0.884 0.899
                 aFalse_pTrue_sTrue_tFalse 0.797 0.848 0.851
                 aFalse_pTrue_sTrue_tTrue  0.873 0.878 0.905
                 aTrue_pFalse_sFalse_tTrue 0.898 0.900 0.905
                 aTrue_pFalse_sTrue_tFalse 0.825 0.831 0.839
                 aTrue_pTrue_sFalse_tFalse 0.880 0.893 0.910
                 aTrue_pTrue_sTrue_tFalse  0.789 0.814 0.832
                 aTrue_pTrue_sTrue_tTrue   0.887 0.892 0.912
          kappa  aFalse_pFalse_sTrue_tTrue 0.866 0.873 0.891
                 aFalse_pTrue_sFalse_tTrue 0.885 0.889 0.891
                 aFalse_pTrue_sTrue_tFalse 0.809 0.836 0.845
                 aFalse_pTrue_sTrue_tTrue  0.871 0.877 0.893
                 aTrue_pFalse_sFalse_tTrue 0.889 0.892 0.903
                 aTrue_pFalse_sTrue_tFalse 0.824 0.827 0.847
                 aTrue_pTrue_sFalse_tFalse 0.862 0.877 0.909
                 aTrue_pTrue_sTrue_tFalse  0.777 0.795 0.822
                 aTrue_pTrue_sTrue_tTrue   0.880 0.880 0.899
wisdm     f1     aFalse_pTrue_sFalse_tTrue 0.793 0.825 0.857
                 aFalse_pTrue_sTrue_tFalse 0.648 0.707 0.710
                 aFalse_pTrue_sTrue_tTrue  0.765 0.788 0.823
          kappa  aFalse_pTrue_sFalse_tTrue 0.787 0.819 0.848
                 aFalse_pTrue_sTrue_tFalse 0.641 0.690 0.697
                 aFalse_pTrue_sTrue_tTrue  0.756 0.777 0.810