### Table 5 for transfer learning [done]

In [1]:
import numpy as np
import pandas as pd
import glob

In [2]:
root_path = '/data/UKBB/SSL/reports/mtl/transfer_learning/capture_24/*'

cap_list = glob.glob(root_path)

root_path = '/data/UKBB/SSL/reports/mtl/transfer_learning/rowlands/*'
row_list = glob.glob(root_path)
master_file_list = row_list + cap_list

#master_file_list = []
#for my_path in exp_list:
#    current_list = glob.glob(my_path+'/*csv')
#    master_file_list.extend(current_list)


root_path = '/data/UKBB/SSL/reports/mtl/transfer_learning/ssl_capture_24/*'

cap_list = glob.glob(root_path)

root_path = '/data/UKBB/SSL/reports/mtl/transfer_learning/ssl_rowlands/*'
row_list = glob.glob(root_path)
master_ssl_file_list = row_list + cap_list

In [3]:
# get the ones with error bar
master_df = []
for file_path in master_ssl_file_list:
    file_name = file_path.split('/')[-1]
    print(file_name)
    dataset = file_name.split('_')[0]
    
    dataset = file_name.split('_')[0]
    upstream = file_name.split('_')[4]
    
    # epoch_count = file_name.split('_')[-1][:2]
    
    current_df = pd.read_csv(file_path)
    
    current_df['id'] = current_df.index 
    current_df = pd.melt(current_df, id_vars=['id'])
    current_df.drop(['id'], inplace=True, axis=1)

    current_df['dataset'] = dataset
    # print(file_path, model, subject_num)
    
    current_df['upstream'] = upstream  

    if len(master_df) == 0:
        master_df = current_df
    else:
        master_df = pd.concat([master_df, current_df])
master_df = master_df.rename(columns={"variable": "metric"}) 
master_df['label'] = 'unlabelled'
ssl_df = master_df

rowlands_flip_net_ft_rowlands_postR50_500_-1_1.csv
oppo_flip_net_ft_rowlands_postR50_500_-1_1.csv
pamap_flip_net_ft_rowlands_postR50_500_-1_1.csv
capture24_flip_net_ft_rowlands_postR50_500_-1_1.csv
realworld_flip_net_ft_rowlands_postR50_500_-1_1.csv
adl_flip_net_ft_rowlands_postR50_500_-1_1.csv
wisdm_flip_net_ft_rowlands_postR50_500_-1_1.csv
capture24_flip_net_ft_cap24_postR50_500_-1_1.csv
wisdm_flip_net_ft_cap24_postR50_500_-1_1.csv
realworld_flip_net_ft_cap24_postR50_500_-1_1.csv
oppo_flip_net_ft_cap24_postR50_500_-1_1.csv
adl_flip_net_ft_cap24_postR50_500_-1_1.csv
rowlands_flip_net_ft_cap24_postR50_500_-1_1.csv
pamap_flip_net_ft_cap24_postR50_500_-1_1.csv

In [4]:
# get the ones with error bar
master_df = []
for file_path in master_file_list:
    file_name = file_path.split('/')[-1]
    print(file_name)
    dataset = file_name.split('_')[0]
    
    dataset = file_name.split('_')[0]
    upstream = file_name.split('_')[4]
    
    # epoch_count = file_name.split('_')[-1][:2]
    
    current_df = pd.read_csv(file_path)
    
    current_df['id'] = current_df.index 
    current_df = pd.melt(current_df, id_vars=['id'])
    current_df.drop(['id'], inplace=True, axis=1)

    current_df['dataset'] = dataset
    # print(file_path, model, subject_num)
    
    current_df['upstream'] = upstream  

    if len(master_df) == 0:
        master_df = current_df
    else:
        master_df = pd.concat([master_df, current_df])
master_df = master_df.rename(columns={"variable": "metric"}) 
master_df['label'] = 'labelled'

oppo_flip_net_ft_rowlands_postR50_500_-1_1.csv
pamap_flip_net_ft_rowlands_postR50_500_-1_1.csv
capture24_flip_net_ft_rowlands_postR50_500_-1_1.csv
realworld_flip_net_ft_rowlands_postR50_500_-1_1.csv
adl_flip_net_ft_rowlands_postR50_500_-1_1.csv
wisdm_flip_net_ft_rowlands_postR50_500_-1_1.csv
wisdm_flip_net_ft_cap24_postR50_500_-1_1.csv
realworld_flip_net_ft_cap24_postR50_500_-1_1.csv
oppo_flip_net_ft_cap24_postR50_500_-1_1.csv
adl_flip_net_ft_cap24_postR50_500_-1_1.csv
rowlands_flip_net_ft_cap24_postR50_500_-1_1.csv
pamap_flip_net_ft_cap24_postR50_500_-1_1.csv

In [5]:
master_df = pd.concat([master_df, ssl_df], ignore_index=True)

In [6]:
master_df = master_df[['dataset', 'metric', 'value', 'upstream', 'label']]
filter_master_df = master_df[(master_df['metric'] == 'f1')]

In [7]:
key=['dataset', 'metric', 'upstream', 'label']
ok = filter_master_df.groupby( key).describe()

In [8]:
ok = ok.reset_index(['dataset', 'metric' , 'upstream', 'label'])

In [9]:
ok.head()

     dataset metric  upstream       label  value                      \
                                           count      mean       std
0        adl     f1     cap24    labelled    7.0  0.767771  0.168770
1        adl     f1     cap24  unlabelled    7.0  0.753946  0.158779
2        adl     f1  rowlands    labelled    7.0  0.633640  0.182343
3        adl     f1  rowlands  unlabelled    7.0  0.701227  0.111053
4  capture24     f1     cap24  unlabelled  155.0  0.707283  0.094174


        min       25%       50%       75%       max
0  0.481863  0.689580  0.777638  0.903236  0.929263
1  0.481863  0.679175  0.777638  0.865776  0.928218
2  0.341429  0.538752  0.660809  0.736118  0.883501
3  0.502145  0.664130  0.727421  0.748243  0.854275
4  0.390995  0.638034  0.721098  0.781977  0.881117

In [10]:
def get_row_str(my_df, dataset):
    task_df = my_df[my_df.dataset == dataset]
    labelled_df = task_df[task_df.label == 'labelled']
    unlabelled_df = task_df[task_df.label == 'unlabelled']


    row_l_mean= labelled_df[labelled_df['upstream'] == 'rowlands'].iloc[0].value['mean']
    row_l_std =labelled_df[labelled_df['upstream'] == 'rowlands'].iloc[0].value['std']
  
    row_ul_mean = unlabelled_df[unlabelled_df['upstream'] == 'rowlands'].iloc[0].value['mean']
    row_ul_std = unlabelled_df[unlabelled_df['upstream'] == 'rowlands'].iloc[0].value['std']
    
    tmp_row_str = r'%.3f $ \pm $ %.3f & %.3f $ \pm $  %.3f' % (row_l_mean, row_l_std,
                                                           row_ul_mean, row_ul_std)

    cap_l_mean = labelled_df[labelled_df['upstream'] == 'cap24'].iloc[0].value['mean']
    cap_l_std = labelled_df[labelled_df['upstream'] == 'cap24'].iloc[0].value['std']
    
    cap_ul_mean = unlabelled_df[unlabelled_df['upstream'] == 'cap24'].iloc[0].value['mean']
    cap_ul_std = unlabelled_df[unlabelled_df['upstream'] == 'cap24'].iloc[0].value['std']
    
    tmp_cap_str = r'& %.3f $ \pm $ %.3f & %.3f $ \pm $  %.3f' % (cap_l_mean, cap_l_std,
                                                           cap_ul_mean, cap_ul_std)
    
    tmp_str = tmp_row_str + tmp_cap_str
    print(tmp_str.replace('0.', '.'))

In [19]:
 ok[ok.dataset == 'rowlands']

     dataset metric  upstream       label value                                \
                                          count      mean       std       min
19  rowlands     f1     cap24    labelled  55.0  0.727659  0.093810  0.526700
20  rowlands     f1     cap24  unlabelled  55.0  0.730036  0.084990  0.536595
21  rowlands     f1  rowlands  unlabelled  55.0  0.734214  0.081668  0.572828


         25%       50%       75%       max
19  0.666240  0.738176  0.785918  0.968420
20  0.668433  0.738523  0.785816  0.990038
21  0.677593  0.729682  0.792341  0.956406

In [18]:
 ok[ok.dataset == 'capture24']

     dataset metric  upstream       label  value                      \
                                           count      mean       std
4  capture24     f1     cap24  unlabelled  155.0  0.707283  0.094174
5  capture24     f1  rowlands    labelled  155.0  0.704923  0.093211
6  capture24     f1  rowlands  unlabelled  155.0  0.709475  0.094057


        min       25%       50%       75%       max
4  0.390995  0.638034  0.721098  0.781977  0.881117
5  0.400778  0.636924  0.715834  0.774551  0.896485
6  0.395880  0.630323  0.725761  0.780501  0.893937

In [13]:
get_row_str(ok, 'wisdm')

.680 $ \pm $ .109 & .702 $ \pm $  .123& .715 $ \pm $ .119 & .723 $ \pm $  .121

In [14]:
get_row_str(ok, 'realworld')

.712 $ \pm $ .086 & .737 $ \pm $  .105& .759 $ \pm $ .070 & .771 $ \pm $  .061

In [15]:
get_row_str(ok, 'oppo')

.536 $ \pm $ .019 & .539 $ \pm $  .018& .547 $ \pm $ .043 & .547 $ \pm $  .042

In [16]:
get_row_str(ok, 'pamap')

.677 $ \pm $ .082 & .689 $ \pm $  .078& .678 $ \pm $ .118 & .725 $ \pm $  .082

In [17]:
get_row_str(ok, 'adl')

.634 $ \pm $ .182 & .701 $ \pm $  .111& .768 $ \pm $ .169 & .754 $ \pm $  .159

In [ ]:
root_path = '/data/UKBB/SSL/reports/mtl/transfer_learning/capture_24/*'

cap_list = glob.glob(root_path)

root_path = '/data/UKBB/SSL/reports/mtl/transfer_learning/rowlands/*'
row_list = glob.glob(root_path)
master_file_list = row_list + cap_list